
.container-edit{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px #bdbdbdbf;
    width: 95%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 30px;
   
  
    
/*     border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;  */

}


.content-header{
    text-align: center;

}

.btn{
    width: 50%;
    height: 50%;
    outline: none;
    border: none;
    /* background-color: #6236ff; */
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: 14px;
    cursor: pointer;

}
.btn:hover{
 background-color: #552bee;       
} 
.btn1{
    width: 50%;
    height: 50%;
    outline: none;
    border: none;
    /*background-color: #6236ff;*/
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: 14px;
    cursor: pointer;

}
.btn2{
    width: 50%;
    height: 50%;
    outline: none;
    border: none;
    /*background-color: #6236ff;*/
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: 14px;
    cursor: pointer;

}
.btn1:hover{
    background-color: #552bee;
}
.btn2:hover{
    background-color: #552bee;
}

.btn-submit{
    width: 50%;
    height: 50%;
    outline: none;
    border: none;
    background-color: #6236ff;
    /* background-color: #6236ff;
    color: #ffffff; */
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: 14px;
    cursor: pointer;
}
.btn-submit:hover{
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #fff;
    transition: background-color 1s;
}
.btn-experiencia{
    outline: none;
    border: none;
    background-color: #6236ff;
    /* background-color: #6236ff;
    color: #ffffff; */
    border-radius: 20px;
    text-transform: 14px;
    cursor: pointer;
}
.btn-experiencia:hover{
    background: linear-gradient(90deg, #3f51b5, transparent) #141414;
    transition: background-color 1s;
}

select{
    border: none;
    border-bottom: 1px solid #c9c9c9;
    width: 200px;
    padding: 10px 0;
    font-size: 16px;
}



#search{
   position: absolute;
   top: 50%;
   right: 0;
   margin-right: 1rem;
   transform: translate(-50%, -50%); 
}
table{
    width: 100%;
    border-spacing: 0;
    margin: 0 auto;
    margin-top: 1rem;
   /*  border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red; */
    

 
}
thead{
    background-color: #1c1c1c;
}
th{
    padding: 10px;
    text-align: center;

}
tbody{
    padding: 10px;
}
tr{
    padding: 10px;
    margin:0 auto;
    
}
td{
    padding: 10px;
    text-align: center;
    /* border-bottom: 1px solid #c9c9c9; */
}
img {
    vertical-align: top;
}
/*Estilos de hover */
tr:hover{
    /* background-color: #552bee; */
    /*linear-gradient(to right, #a8caba 0%, #5d4157 100%);*/
    /*linear-gradient(90deg, #3f51b5, transparent) #2196f3*/
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #fff;
    transition: background-color 1s;
  
}
tr:hover, tr:focus {
    background-color: #e91e63;
    color: #fff;
}



#icons{
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: #008000;
}

.table_fotter{
    margin-top: 1rem;
    padding: 0 30px 20px;
}
#icons:hover{
    color: #1c1c1c;

}
#icons-edit{
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: #4CAF50;
    margin: 0px 0px; 
    padding: 2px;
}
#icons-edit:hover{
    color: #552bee;

}
#icons-trash{
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: #f44336;
    margin: 0px 0px; 
    padding: 2px;
}
#icons-trash:hover{
    color: #552bee;

}